@import url(//db.onlinewebfonts.com/c/72112afab388987941068c3f7a741a53?family=Mark+Pro+Heavy);


$mobile: 767px;
$smob: 480px;
$bigmob: 540px;
$ipad: 768px;
$desktop: 1024px;
$others: 1280px;
$higher: 1721px;

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin smob {
    @media (max-width: #{$smob}) {
        @content;
    }
}
@mixin bigmob {
    @media (max-width: #{$bigmob}) {
        @content;
    }
}

 @mixin ipad {
     @media (min-width: #{$ipad}) {
         @content;
    }
 }

@mixin desktop {
     @media (min-width: #{$desktop}) {
         @content;
    }
 }

 @mixin others {
    @media (min-width: #{$others}) {
        @content;
    }
 }

 @mixin higher {
    @media (min-width: #{$higher}) {
        @content;
    }
 }


html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;



    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
        margin-top: -.5em;


       


        .horizontal-nav {
            display: flex;
            align-items: center;
            margin-right: .4em;
            gap: 1em;
    
            .fa-phone-volume {
                transform: rotateY(180deg);

                @include desktop() {
                    font-size: 30px;
                }
               
            }

            .fa-magnifying-glass {


                @include desktop() {
                    font-size: 30px;
                }
            }

            .fa-cart-shopping {
                @include desktop() {
                    font-size: 30px;
                }
            }

            .fa-user {

                @include desktop() {
                    font-size: 30px;
                }
            }
    
            .fa-bars {
                margin-left: 1em;
                font-size: 22px;

                
            }
            .logo {
                font-size: 22px;
                font-weight: 900;
                color: #01828E;
                font-family: arial;
            }
        }
    }


    .hide-header {
        display: none;
        


        @include desktop() {
            display: block;
            background: white;
            margin-top: -8em;
            border: 2px solid black;
            
        }


       


        .businesss-main-box {
            display: flex;
            justify-content: space-between;



            .businx {
                display: flex;
                align-items: center;
                gap: .8em;
                margin-left: 1em;
                margin-right: 1em;
                cursor: pointer;


                @include desktop() {
                    display: flex;
                }

                @include higher() {
                    gap: 5em;
                }
               
                


                .businx-text {
                    

                    @include desktop() {
                        color: black;
                        font-size: 20px;
                    }

                    @include others() {
                        font-size: 30px;
                    }

                   

                    
                }
                .businx-text:hover {
                    color: orange;
                    text-decoration: underline;
                }



                #text-businx {
                    font-size: 21px;
                    font-weight: bolder;
                    color: #006670;


                    @include desktop() {
                        font-size: 30px;
                    }

                    @include others() {
                        font-size: 40px;
                    }

                    
                }
            }

            .sec-phase {
                display: flex;
                align-items: center;
                gap: .2em;


                @include others() {
                    font-size: 30px;
                }
                


                .sec-phase-text {
                    font-size: 25px;
                    color: black;

                    @include desktop() {
                        font-size: 20px;
                    }
                    
                }

                .sec-phase-text:hover {
                    color: orange;
                    text-decoration: underline;
                }
                .fa-phone-volume {
                    transform: rotateY(180deg);

                   
                }
                

                .fa-magnifying-glass {
                    
                    
                }
                

                .fa-cart-shopping {


                    
                }

                .fa-user {


                    
                }
            }

            .sec-phase:hover {
                color: orange;
            }
        }

        .lline {
            width: 100%;
            border: .1px solid rgba($color: #000000, $alpha: .25);
        }

        .under-header {
            display: flex;
            justify-content: space-between;
            gap: .4em;
            margin-left: 1em;
            margin-right: 1em;
            cursor: pointer;


           
            .shop {
                display: flex;
                align-items: center;
                gap: .4em;
            }

            p {

                @include desktop() {
                    color: black;
                    font-size: 15px;
                }

                @include others() {
                    font-size: 25px;
                }

                
            }
            p:hover {
                color: orange;
                text-decoration: underline;
            }

            .red {
                color: red;
            }
        }
       
    }

    .section-two {
        margin-top: -.6em;
        width: 100%;
        background: #030402;
        height: 1200px;
        padding-top: 1em;

        @include desktop() {
            height: 1150px;
        }

       
        .section-two-content {
            
            width: 100%;
            margin-top: 10em;



            



            .content {
                width: 50%;
                display: flex;
                flex-direction: column;
                margin-left: 2.5em;
                margin-top: -4em;


                .who-box {
                    width: 100%;


                    @include smob() {
                        width: 50%;
                    }
                    @include bigmob() {
                        width: 200%;
                        display: flex;
                    }


                    @include ipad() {
                        display: flex;
                        flex-direction: row;
                    }

                    @include desktop() {
                        margin-left: 10%;
                        margin-top: 8em;
                    }

                    @include others() {
                        margin-left: 28%;
                    }

                    @include higher() {
                        margin-left: 55%;
                    }

                    


                    .who {
                        width: 100%;
                        font-size: 70px;
                        color: #006670;
                        margin-top: 0;
                        margin-bottom: -2em;
                        font-family: Alfa Slab One;
                        -webkit-text-stroke-width: 2px;
                        -webkit-text-stroke-color: #00C3D6;
                        text-shadow: 0px 0px 25px #00C3D6;
    

                        @include smob() {
                            width: 60%;
                            font-size: 60px;
                        }
                        @include ipad() {
                            display: flex;
                            gap: .2em;
                        }

                        @include desktop() {
                            font-size: 90px;
                        }

                        @include bigmob() {
                            font-size: 50px;
                        }

                        

                       


                    }

                    .text-3 {
                        font-size: 72px;
                        color: #484005;
                        margin-left: -.3em;
                        margin-top: 1.2em;
                        margin-bottom: 0;
                        font-family: Alfa Slab One;
                        -webkit-text-stroke-width: 2px;
                        -webkit-text-stroke-color: yellow;
                        text-shadow: 0px 0px 25px yellow;



                        @include smob() {
                            padding-left: 2em;
                        }
                        @include ipad() {
                            margin-top: -.02em;
                            margin-left: 0;
                        }

                        @include desktop() {
                            font-size: 90px;
                        }

                        @include bigmob() {
                            margin: 0;
                            font-size: 50px;
                        }

                        @include higher() {
                            margin-right: 20%;
                        }

                    }
                }
                


                .text-22 {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: 1em;

                   



                    #mid {
                        margin-top: .8em;

                       

                    }

                    .text {
                        width: 50%;
                        font-size: 70px;
                        color: #006670;
                        margin-top: 0;
                        margin-bottom: -2em;
                        font-family: Alfa Slab One;
                        -webkit-text-stroke-width: 2px;
                        -webkit-text-stroke-color: #00C3D6;
                        text-shadow: 0px 0px 25px #00C3D6;
    
                       
    
                    }
                    
    
    
                    // .text-2 {
                    //     font-size: 72px;
                    //     color: #006670;
                    //     margin-top: -.3em;
                    //     margin-bottom: 0;
                    //     font-family: Alfa Slab One;
                    //     -webkit-text-stroke-width: 2px;
                    //     -webkit-text-stroke-color: #00C3D6;
                    //     text-shadow: 0px 0px 25px #00C3D6;
    
                    // }
                    #text-3 {
                        font-size: 72px;
                        color: #484005;
                        margin-left: .3em;
                        margin-top: 1.2em;
                        margin-bottom: 0;
                        font-family: Alfa Slab One;
                        -webkit-text-stroke-width: 2px;
                        -webkit-text-stroke-color: yellow;
                        text-shadow: 0px 0px 25px yellow;
    
                        
                        
    
                    }
                }



            }
            


            .header-sec-3 {
                width: 100%;
                // width: 70%;


                .header-3-text-box {
                    display: flex;
                    width: 100%;



                    .header-3-text {
                        width: 70%;
                        font-size: 20px;
                        font-weight: bolder;
                        text-align: center;
                        color: #00C3D6;
                        margin-top: 9em;
                        margin-left: 3em;
                        font-family: sans-serif;


                        @include ipad() {
                            font-size: 25px;
                        }

                        @include desktop() {
                            margin-left: 15%;
                        }
                       

    
    
                        .text-2 {
                            margin-left: 1em;
                            color: #FDCC07;
                        }
    
                    }

                }

            }


            .btn {
                margin-top: 2.5em;
                margin-left: 28%;
                max-width: 50%;
                display: flex;

                .main-btn {
                    width: 88%;
                    height: 50px;
                    margin-left: 1%;
                    background: #FDCC07;
                    font-weight: bolder;
                    border: solid;
                }
            }

            .terms {
                margin-top: 2.5em;
                margin-left: 15%;
                width: 70%;




                .terms-and {
                    text-align: center;
                    font-size: 16px;
                    color: white;
                    font-family: sans-serif;
                    margin: 0;

                    @include ipad() {
                        font-size: 20px;
                    }
                }

               
            }


            .timee-container {
                    

                .time-flex {

                    @include desktop() {
                        display: flex;
                        align-items: center;
                        margin-top: 4em;
                        width: 100%;
                    }

                    @include others() {
                        margin-left: 5%;
                    }

                   

                    .time-session {
                        margin-top: 5em;
                        display: flex;
                        align-items: center;
                        margin-left: 1em;
                        width: 80%;
                        gap: 1em;
        
        
                        @include desktop() {
                            margin-right: 15em;
                        }

                        
                        .fa-clock {
                            font-size: 25px;
                            color: white;
                        }
        
                        .time-text {
                            width: 100%;
                            color: white;
                            font-size: 20px;
                            font-weight: bolder;
                            font-family: sans-serif;
                            margin: 0;


                            @include ipad() {
                                font-size: 25px;
                            }
                           

                            @include desktop() {
                                width: 150%;
                                font-size: 20px;
                            }
                        }
        
                    }
        
        
                    .clock {
                        width: 100%;
                        display: flex;
                        color: white;
                        margin-left: 3em;
                        gap: .5em;
                        margin-top: 1em;

                        
                        
                        

        
                        .clock-box {
                            display: flex;
                            flex-direction: column;
        
        
                            .digital-clock {
                                color: white;
                                margin: 0;
                                font-size: 32px;
                                font-weight: bolder;


                                @include ipad() {
                                    font-size: 50px;
                                }
                              
                            }
        
                            .digital-name {
                                margin: 0;

                                @include ipad() {
                                    font-size: 25px;
                                }
                               
                            }
                        }
        
        
                        .colon {
                            color: white;
                            font-size: 40px;
                            margin-top: -.2em;

                           
                        }
                        
                    }
        
                }


                .line-1 {
                    border: .4px solid white;
                    margin-top: .4em;
                    width: 100%;
                }
    
                .line-2 {
                    border: .01px solid rgba(255,255,255,.25);
                    margin-top: .4em;
                    width: 100%;
                }
    
    
                .accessories {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    width: 100%;
                    margin-top: 1em;
                    margin-left: .4em;
                    gap: .2em;
                    width: 90%;


                    @include desktop() {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 4em;
                        margin-left: 5%;
                    }

                   
    
                    .access-box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
    
    
                        .fa-solid{
                            color: white;
                            font-size: 19px;

                            @include ipad() {
                                font-size: 50px;
                            }
                           
                
                           
                        }
                        
    
                        .A-text-box {
                            display: flex;
                            flex-direction: column;
    
    
                            .access-text {
                                color: white;
                                font-size: 15px;
                                text-align: center;
                                font-weight: bolder;
                                font-family: sans-serif;


                                @include ipad() {
                                    font-size: 30px;
                                }
                               
                                @include desktop() {
                                    font-size: 20px;
                                }
                            }
                        }
    
                    }
                }
            }

        }

    }


    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        margin-top: 2em;
        margin-left: 1em;
        gap: .2em;
        width: 90%;

        @include ipad() {
            margin-left: 5em;
        }

        @include desktop() {
            display: flex;
            justify-content: space-between;
        }

       


        .pay-bills {


           
            .fa-solid {
                font-size: 19px;

                @include ipad() {
                    font-size: 50px;
                }
               
            }
            .fa-brands {
                font-size:19px;

                @include ipad() {
                    font-size: 50px;
                }
            }
            .fa-regular {
                font-size: 19px;

                @include ipad() {
                    font-size: 50px;
                }
            }

            .bill-text-box {
                display: flex;
                flex-direction: column;


                .bill-text {
                    font-size: 15px;
                    font-weight: bolder;


                    @include ipad() {
                        font-size: 20px;
                    }
                   
                }
            }
        }
    }

    .cyber-security {
        background-color: #FDCC07;
        padding-bottom: 1.5em;


       

        


        .cyber-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 2em;

           

        


            #text-cyber {
                font-weight: 300;


               
            }

            .cyber-text {
                margin: 0;
                font-size: 20px;
                font-family: sans-serif;
                font-weight: bolder;
                

                @include ipad() {
                    font-size: 30px;
                }

               
            }
        }

        .cyber-btn-box {
            width: 70%;
            margin-top: 1.5em;


            

            .cyber-btn {
                width: 100%;
                height: 40px;
                margin-left: 20%;
                font-family: sans-serif;
                font-weight: bolder;
                color: green;
                background: white;
                border: 2px solid green;

                @include ipad() {
                    height: 50px;
                    font-size: 30px;
                }

                
            }
        }
    }


    .giving-more {
        background: #01828E;
        // height: 1750px;
        height: 100%;
        padding-bottom: 2em;

        @include desktop() {
            padding-bottom: 6em;
        }


       


        .giving-more-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 3.5em;


            .G-text-box {
                width: 87%;
                padding-bottom: 1.5em;

                .giving-text {
                    font-size: 30px;
                    font-family: sans-serif;
                    color: #FDCC07;
                    font-weight: bolder;
                    text-align: center;
                    margin: 0;

                    @include ipad() {
                        font-size: 40px;
                    }

                    
                }

                #text-giving {
                    font-size: 15px;
                    color: white;
                    font-weight: 300;
                    text-align: center;

                    @include ipad() {
                        font-size: 25px;
                    }

                   
                }
            }
        }


        .family {
           @include desktop() {
            display: flex;
            gap: 1.5em;
            margin-right: 7%;
           }


            .family-box {
                width: 82%;
                margin-top: 1.5em;
    

               
    
                .family-pix {
                    width: 100%;
                    margin-left: 11%;
                }
            }
    
            .Fam-2-part-box {
                width: 100%;
                background: white;
                height: 268px;
                margin-left: 11%;
                margin-top: -.3em;

                @include desktop() {
                    height: 500px;
                }

               
    
    
                .Fam-2-part {
                    width: 80%;
                    padding-top: .4em;
                    margin-bottom: -1em;

                    
    
                    #text-fam-2 {
                        font-size: 23px;


                        @include desktop() {
                            font-size: 32px;
                        }
                       
                    }
                    #text-2-fam {
                        font-size: 15px;
                        color: black;
                        font-weight: 300;
                        margin: 0;
                        margin-left: 2em;
                        width: 80%;

                        @include ipad() {
                            font-size: 25px;
                        }

                       
                    }
    
                    .Fam-2-text {
                        font-size: 32px;
                        font-weight: bolder;
                        color:  #01828E;
                        margin-left: 1em;


                        @include ipad() {
                            font-size: 42px;
                        }

                        @include desktop() {
                            font-size: 32px;
                        }
                        
                       
                    }
                }
    
                .fam-btn-box {
                    width: 80%;
                    margin-top: 1.5em;

                    @include ipad() {
                        margin-top: 3em;
                    }


                    
    
    

                    #btn-fam {
                        margin-top: -5em;


                        
                        

                        
                    }

                    #famm {
                        display: none;
                        margin-top: 3.8em;
                    }
                    #fammm {
                        display: none;

                        @include desktop() {
                            display: block;
                            font-size: 20px;
                            margin-top: 6em;
                        }
                       
                    }

                    .fam-btn {
                        width: 100%;
                        margin-left: 10%;
                        height: 35px;
                        font-weight: bolder;
                        background: #FDCC07;
                        border: none;
                        cursor: pointer;

                        @include ipad() {
                            height: 45px;
                            font-size: 25px;
                        }

                        @include desktop() {
                            display: none;
                        }
                        
                    }

                    
                }
            }
        }

    }

    .deals {
        display: flex;
        justify-content: center;
        margin-top: 5em;


        .deals-text {
            font-size: 27px;
            font-family: sans-serif;
            color: #006670;
            margin: 0;


            @include ipad() {
                font-size: 37px;
            }
           
            
        }
    }


    .tc-grid {

        @include desktop() {
            display: flex;
            margin-left: 5%;
            margin-right: 5%;
        }


        .tc-box {
            padding-top: 2em;
            width: 100%;

            
    
            .samsung-box {
                width: 90%;
        
        
                .samsung-pix {
                    width: 100%;
                    margin-left: 5%;
                }
            }
    
            .galazy {
                width: 48.7%;
                margin-left: 4em;


               
                
    
                .galazy-text {
                    width: 100%;
                    font-size: 20px;
                    font-family: sans-serif;
                    font-weight: bolder;


                    @include ipad() {
                        font-size: 30px;
                    }

                    @include desktop() {
                        font-size: 20px;
                        margin-left: -2em;
                    }
                    
                   
                }
    
                #text-galazy {
                    width: 100%;

                    
                }
            }
    
            .tc-2 {
                display: flex;
                flex-direction: column;
                width: 70%;

                @include desktop() {
                    width: 100%;
                }
                

                #laslass {

                    

                   

                   
                }
                #laslas {
                    

                    @include desktop() {
                        margin-top: 2em;
                    }
                }

                .tnc {
                    display: none;

                    

                }
                

    
                .tc-text-2 {
                    font-size: 12px;
                    font-family: sans-serif;
                    font-weight: 200;
                    margin-left: 5.5em;
    
    
                    @include ipad() {
                        font-size: 25px;
                    }

                    @include desktop() {
                        font-size: 17px;
                        margin-left: 1.5em;
                    }

                    

                }

                #liink {

                    @include desktop() {
                        padding-bottom: 4em;
                    }

                    @include others() {
                        padding-bottom: 5.6em;
                    }
                }

                .down {
                    font-size: 15px;
                    font-family: sans-serif;
                    font-weight: bold;
                    margin-top: -.5em;
                    color: #006670;

                   
                }

                #c-and-t {
                    margin-top: -.9em;

                   
                }
    
                .t-and-c {
                    margin-left: 5em;
                    color: #006670;
                    font-family: sans-serif;
                    font-weight: bolder;
                    margin-top: -.5em;
                    font-size: 13px;
    
                    @include ipad() {
                        font-size: 26px;
                    }

                    @include desktop() {
                        font-size: 15px;
                        margin-top: -.9em;
                        margin-left: 1.5em;
                        padding-bottom: 4.8em;
                    }
                   

                }
            }
        }
    
    }


    

    .tc-link-box {
        padding-bottom: 1em;

        
       

        

        .tc-link {
            text-decoration: none;
            margin-left: 5em;
            font-size: 15px;
            font-family: sans-serif;
            color: #006670;
            font-weight: bolder;
            cursor: pointer;
    
            @include ipad() {
                font-size: 30px;
            }

            @include desktop() {
                font-size: 18px;
                margin-left: 4em;
            }
    
            
        }

        

    }

    .mre-dls {
        width: 60%;
        margin-left: 20%;

        


        .more-deal-text {
            width: 100%;
            background: #FDCC07;
            border: none;
            height: 35px;
            font-weight: bolder;
            font-family: sans-serif;
            cursor: pointer;


            @include ipad() {
                height: 45px;
                font-size: 25px;
            }

            @include desktop() {
                font-size: 18px;
                margin-top: 4em;
            }
        }

        #keep {
            display: none;
        }
    }
    


    .optus-box {
        background: #F1F4F6;
        width: 100%;
        margin-top: 3em;
        height: 100%;
        padding-bottom: 3em;


        .optus {
            display: flex;
            justify-content: center;
    
    
            .optus-text {
                font-size: 30px;
                font-weight: bolder;
                font-family: sans-serif;
                color: #006670;


                @include ipad() {
                    font-size: 40px;
                }
               
            }
        }

        .customer-box {
            padding-bottom: 2em;

            



            .cus-box-grid {

                @include desktop() {
                    display: flex;
                    margin-right: 3%;
                }
                
            }
            .customer-box-1 {
                
            

                .fa-person-chalkboard {
                    font-size: 50px;
                    display: flex;
                    justify-content: center;
                    color: #006670;

                   
                }
                .fa-sliders {
                    font-size: 50px;
                    display: flex;
                    justify-content: center;
                    color: #006670;
                }
                .fa-creative-commons-share {
                    font-size: 50px;
                    display: flex;
                    justify-content: center;
                    color: #006670;
                }
            }

            #keep {
                display: none;

                @include desktop() {
                    display: inline-block;
                    margin-left: 2.5em; 
                    margin-top: 4em;                   
                }

                @include higher() {
                    width: 60%;
                }
                
            }


            .customer-box-2 {

               
    
                .customer-box-2-text {
                    display: flex;
                    gap: .4em;
                    width: 100%;
                    margin-left: 33%;
                    font-size: 16px;
                    font-family: sans-serif;
                    font-weight: bolder;


                    @include bigmob() {
                        // margin-left: 12.5em;
                    }
                    @include ipad() {
                        font-size: 32px;
                    }

                    @include desktop() {
                        margin-top: .5em;
                        font-size: 27px;
                        margin-left: 2em;
                        
                    }

                    @include higher() {
                        margin-left: 29%;
                    }
                    
                   
    
                    .cont {
                        color: #006670;
                    }
                }
    
            }
    
            .customer-box-3 {
                width: 70%;
    
    
                .customer-box-3 {
                    width: 100%;
                    text-align: center;
                    margin-left: 20%;
                    font-weight: 100;
                    font-size: 17px;
                    line-height: 25px;


                    @include ipad() {
                        font-size: 33px;
                        font-weight: 500;
                    }

                    @include desktop() {
                        font-size: 25px;
                        font-family: sans-serif;
                        margin-left: 3em;
                    }
                }
            }
        }

        .last-button-box {
            max-width: 70%;

            @include desktop() {
                display: none;
            }
            


            .last-button {
                width: 100%;
                margin-left: 25%;
                height: 35px;
                background: #FDCC07;
                border: none;
                font-weight: bolder;
                font-family: sans-serif;
                cursor: pointer;

                @include ipad() {
                    height: 45px;
                    font-size: 25px;
                }

                @include desktop() {
                    font-size: 20px;
                }

                
                
            }
        }

       
    }


    .footer {
        width: 100%;
        background: black;
        height: 100%;


        .desktop {
            display: none;

            @include desktop() {
                display: flex;
                justify-content: space-between;
            }
            


            .left-desk {
                display: flex;
                gap: 8em;
                margin-left: 5%;


                .desk-flex {

                    @include desktop() {
                        
                    }



                    .desk-head {
                        font-size: 20px;
                        color: white;
                        font-family: sans-serif;
                    }
                    .text-desktop {
                        color: #006670;
                        font-family: sans-serif;
                        font-weight: bolder;
                        cursor: pointer;
                    }
                    .text-desktop:hover {
                        color: orange;
                    }
                }
            }

            .right-desk {
                color: white;
                // margin-top: 4em;
                margin-right: 9%;

                

                .desk-head {
                    font-size: 20px;
                    font-family: sans-serif;
                }

                .d-icons-box {
                    display: flex;
                    gap: 2em;

                    @include desktop() {
                        gap: .5em;
                    }


                    


                    .fa-f {
                        border: 2px solid white;
                        padding: .5em;
                    }

                    .fa-play {
                        border: 2px solid white;
                        padding: .1em .9em;
                        height: 20px;
                    }

                    .fa-linkedin-in {
                        display: flex;
                        align-items: flex-end;
                        border: 2px solid white;
                        padding: .1em .4em;
                        height: 30px;
                    }

                    .fa-camera-retro {
                        display: flex;
                        align-items: flex-end;
                        border: 2px solid white;
                        padding: .1em .4em;
                        height: 30px;
                    }
                    #d-icons {
                        font-size: 20px;
                    }
                }
            }
        }


        .d-footer {
            display: none;

            @include desktop() {
                display: flex;
                justify-content: space-between;
                margin-left: 2em;
                margin-right: 2em;
            }

           
            


            .foot {
                display: flex;
                gap: 3em;

                .foot-text {
                    color: #006670;
                    font-family: sans-serif;
                    font-weight: bold;

                    

                }
            }

            .copyw {
                color: gray;
            }
        }




        .keep-on-desktop {
            
            @include desktop() {
                display: none;
            }


            .footer-box-1 {
                margin-left: 2em;
    
    
                .dropdown {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    .fa-caret-down {
                        color: #F1F4F6;
                        margin-right: 2em;


                        @include ipad() {
                            font-size: 30px;
                        }
                    }
        
                    .footer-text {
                        color: white;

                        @include ipad() {
                            font-size: 30px;
                        }
                       
                    }
                }
    
                .dropline {
                    width: 93%;
                    border: .1px solid rgba(255, 255, 255, 0.25);
                }
    
    
                .social-handle {
                    color: #F1F4F6;

                    @include ipad() {
                        font-size: 30px;
                    }

                    
                }
    
                .socials {
                    display: flex;
                    gap: 1em;
                    margin-bottom: 2em;
    
                    .fa-f {
                        border: 2px solid white;
                        padding: .3em;

                        @include ipad() {
                            font-size: 30px;
                        }
                    }
    
                    .fa-linkedin-in {
                        border: 2px solid white;
                        display: flex;
                        align-items: flex-end;
                        padding: .2em .4em 0em 0em;


                        @include ipad() {
                            font-size: 30px;
                        }
                    }
    
                    .fa-camera-retro {
                        border: 2px solid white;
                        display: flex;
                        align-items: flex-end;
                        padding: 0em .4em 0em 0em;
                    }
                    .fa-play {
                        border: 2px solid white;
                        padding: .1em .9em .1em;
                    }
    
                    #handle {
                        color: #F1F4F6;

                        @include ipad() {
                            font-size: 30px;
                        }
                    }
                }
            }
    
            .last-footer {

                
    
    
                .mini-footer {
                    display: flex;
                    gap: 1em;
    
    
                    .last-footer-text {
                        color: #006670;
                        margin: 0;
                        font-size: 12px;
                        font-family: sans-serif;
                        font-weight: bolder;
                        margin-left: 2em;
                        padding-bottom: 1em;


                        @include ipad() {
                            font-size: 24px;
                        }
                    }
                }
                
            }
    
            .copyw {
                margin-left: 2em;
                padding-bottom: 2em;
    
                .copytext {
                    color: gray;
                    font-size: 13px;
                    font-weight: lighter;
                    font-family: sans-serif;

                    @include ipad() {
                        font-size: 26px;
                    }
    
                }
            }
        }

    }
    

}









